<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

{% block content %}
    {% if comments %}
        {% for comment in comments %}
            {% if comment %}
                <div id="comment_text_div" class="row">
                {{ comment.username }} : {{ comment.text }} : {{ comment.created_on }}
                </div>
                <br>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No Comments</p>
        <br>
        RangeID: {{ range_id }}
    {% endif %}

    <br>
    <form class="comment_form" action="{{ url_for('save_comment') }}" method='post'>
        <dl>
            <dd><input type="text" class="form-control" name="commentText">
            <br>
            <dd><input type='submit' class="btn btn-default" name='Save comment'>
            <dd><input type="hidden" name="range_id" value="{{ range_id }}">
            <dd><input type="hidden" name="startGPS" value="{{ startGPS }}">
            <dd><input type="hidden" name="endGPS" value="{{ endGPS }}">
        </dl>
    </form>
{% endblock %}