{% block content %}
    {% if comments %}
        {% for comment in comments %}
            {% if comment %}
                {{ comment.username }} : {{ comment.text }}
                <br>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No Comments</p>
    {% endif %}
    {% set ran_id = range_id %}

    <form action="{{ url_for('save_comment') }}" method='post'>
        <dl>
            <dd><input type="text" name="commentText">
            <dd><input type='submit' name='Save comment'>
            <dd><input type="hidden" name="range_id" value="{{ ran_id }}">
            <dd><input type="hidden" name="startGPS" value="{{ startGPS }}">
            <dd><input type="hidden" name="endGPS" value="{{ endGPS }}">
        </dl>
    </form>
{% endblock %}