{% block content %}
<div id="{{data_source_str_nospace}}"></div>
{% if is_set %}
    {% if width_slider %}
        <table style="width:50%;margin:auto;">
            <tr>
                {% include 'width_slider.html' %}
            </tr>
        </table>
    {% endif %}
<script>
var {{data_source_str_nospace}} = (function($) {
    var _chart, dataSourceObj;

    {% for series in graph_data %}
        var {{ series }} = {{ graph_data[series] | tojson }};
    {% endfor %}

    var plotBands = {{ plot_bands | tojson }};

    $("#{{data_source_str_nospace}}").highcharts('StockChart',
        {% include template_name %}
    , function (chart) {
        for (var i = 0; i < plotBands.length; ++i) {
            chart.xAxis[0].addPlotBand(plotBands[i]);
        }
        _chart = chart;
    });

    {% if width_slider %}
        {% include 'width_slider.js' %}
        dataSourceObj.sliderChanged = sliderChanged;
    {% endif %}
    return dataSourceObj;
}(jQuery));
</script>
{% else %}
<div id="set_construction_panel_{{data_source_str_nospace}}">
    {% include 'generic_set_construction_panel.html' %}
</div>
<script>
var {{data_source_str_nospace}} = (function($) {
    {% include 'js/generic_set_construction.js' %}

    var graph_data = {};

    {% for series in graph_data.h0 %}
        graph_data.{{ series }}_h0 = {{ graph_data.h0[series] | tojson }};
    {% endfor %}

    {% for series in graph_data.h1 %}
        graph_data.{{ series }}_h1 = {{ graph_data.h1[series] | tojson }};
    {% endfor %}

    {% for series in graph_data.l0 %}
        graph_data.{{ series }}_l0 = {{ graph_data.l0[series] | tojson }};
    {% endfor %}

    {% for series in graph_data.l1 %}
        graph_data.{{ series }}_l1 = {{ graph_data.l1[series] | tojson }};
    {% endfor %}

    var utc_obsid_map_l0 = {{ graph_data.utc_obsid_map_l0 | tojson }};
    var utc_obsid_map_l1 = {{ graph_data.utc_obsid_map_l1 | tojson }};
    var utc_obsid_map_h0 = {{ graph_data.utc_obsid_map_h0 | tojson }};
    var utc_obsid_map_h1 = {{ graph_data.utc_obsid_map_h1 | tojson }};

    $("#{{data_source_str_nospace}}").highcharts('StockChart',
        {% include template_name %}
    , function (chart) {
        _chart = chart;
    });

    return dataSourceObj;
}(jQuery));
</script>
{% endif %}
{% endblock %}
