{% block content %}
<table class='table table-striped table-bordered'>
	<thead>
		<tr>
			<th></th>
			<th>Low</th>
			<th>High</th>
			<th>Total</th>
			<th>Errors</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>EOR0</th>
			<td>{{ low_eor0_count }}</td>
			<td>{{ high_eor0_count }}</td>
			<td>{{ low_eor0_count + high_eor0_count }}</td>
			<td rowspan="3" style="color:red;text-align:center;vertical-align:middle;font-size:20px;">{{ error_count }}</td>
		</tr>
		<tr>
			<th>EOR1</th>
			<td>{{ low_eor1_count }}</td>
			<td>{{ high_eor1_count }}</td>
			<td>{{ low_eor1_count + high_eor1_count }}</td>
		</tr>
		<tr>
			<th>Total</th>
			<td>{{ low_eor0_count + low_eor1_count }}</td>
			<td>{{ high_eor0_count + high_eor1_count }}</td>
			<td>{{ low_eor0_count + high_eor0_count + low_eor1_count + high_eor1_count }}</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<button id='backbutton' onclick="backToHistogram()">Back to histogram</button>
<div id='error_table'></div>
<div id='observations_histogram'></div>
<div id='set_construction_panel'>
	{% include 'set_construction_panel.html' %}
</div>
<script>
	var backToHistogram = function() {
		$('#backbutton').hide();
		$('#error_table').hide();
		$('#observations_histogram').show();
		$('#set_construction_panel').show();
	};

	// Convert the Python lists passed to this template to JSON objects, so they can be used in JavaScript.
	var julian_days = {{ julian_days | tojson }};
	var low_eor0_counts = {{ low_eor0_counts | tojson }};
	var high_eor0_counts = {{ high_eor0_counts | tojson }};
	var low_eor1_counts = {{ low_eor1_counts | tojson }};
	var high_eor1_counts = {{ high_eor1_counts | tojson }};
	var error_counts = {{ error_counts | tojson }};

	$(function() {
		$('#backbutton').hide();
		$('#error_table').hide();
		$('#set_construction_panel').hide();

		$('#observations_histogram').highcharts('StockChart', {
			colors: [
				'#7cb5ec',
				'#FF0000',
				'#90ed7d',
				'#f7a35c',
				'#8085e9',
				'#f15c80',
				'#e4d354',
				'#8085e8',
				'#8d4653',
				'#91e8e1'
			],
			credits: {
				enabled: false,
			},
			chart: {
				zoomType: "x",
				events: {
					selection: function(event) {
						if (clickDragMode === 'flag') {
							event.preventDefault();
							flagClickAndDraggedRange(event);
						}
					}
				}
			},
			legend: {
				enabled: true
			},
			plotOptions: {
				column: {
					dataGrouping: {
						groupPixelWidth: 200,
						forced: true
					},
					pointPlacement: "between",
					// No padding between columns so the graph looks like a histogram.
					groupPadding: 0.1,
					pointPadding: 0,
					events: {
						click: function(event) {
							if (this.name === 'Errors' && !$('#construction_mode_checkbox').is(':checked')) {
								var columnLimits = getColumnRangeLimits(event, this.xAxis.series[1]);
								var startTime = columnLimits.startTime, endTime = columnLimits.endTime;

								$('#observations_histogram').hide();
								$('#set_construction_panel').hide();
								$('#error_table').html("<img src='/static/images/ajax-loader.gif' class='loading'/>");
								$('#error_table').show();

								$.ajax({
									type: "POST",
									url: "/error_table",
									data: {
										'starttime': startTime,
										'endtime': endTime
									},
									success: function(data) {
										$('#error_table').html(data);
										$('#backbutton').show();
									},
									error: function(xhr, ajaxOptions, thrownError) {
										backToHistogram();
									},
									dataType: "html"
								});
							} else if ($('#construction_mode_checkbox').is(':checked')) {
								var series = this.name === 'Observations' ? this.xAxis.series[0] : this.xAxis.series[1];
								flagClickedRange(event, series);
							}
						}
					}
				}
			},
			rangeSelector: {
				buttons: [{
					type: 'second',
					count: 1,
					text: '1s'
				}, {
					type: 'minute',
					count: 1,
					text: '1min'
				}, {
					type: 'minute',
					count: 60,
					text: '1hr'
				}, {
					type: 'day',
					count: 1,
					text: '1d'
				}, {
					type: 'week',
					count: 1,
					text: '1w'
				}, {
					type: 'month',
					count: 1,
					text: '1mo'
				}, {
					type: 'month',
					count: 3,
					text: '3mo'
				}, {
					type: 'month',
					count: 6,
					text: '6mo'
				}, {
					type: 'ytd',
					count: 1,
					text: 'YTD'
				}, {
					type: 'year',
					count: 1,
					text: '1y'
				}, {
					type: 'all',
					count: 1,
					text: 'all'
				}],
				selected: 10
			},
			title: {
				text: 'Observation & Error Count'
			},
			xAxis: {
				ordinal: false
			},
			yAxis: {
				title: {
					text: 'Number of Observations/Errors'
				},
				min: 0,
				allowDecimals: false
			},
			series: [{
				type: 'column',
				name: 'Observations',
				data: high_eor0_counts
			},
			{
				type: 'column',
				name: 'Errors',
				data: error_counts
			}]
		}, function (chart) {
			_chart = chart;
			flaggedRanges = highEOR0FlaggedRanges;
			$('#set_construction_panel').show();
			updateRangeForConstruction();
		});
	});
</script>
{% endblock %}
