{% extends "layout.html" %}
{% block body %}
	<div id='date_controls'>
		<span>Range start:</span>
		{% if starttime %}
		<input type='text' id='datepicker_start' value='{{starttime}}'
		{% else %}
		<input type='text' id='datepicker_start'
		{% endif %}
		autocomplete='off'/>
		<span>Range end:</span>
		{% if endtime %}
		<input type='text' id='datepicker_end' value='{{endtime}}'
		{% else %}
		<input type='text' id='datepicker_end'
		{% endif %}
		autocomplete='off'/>
		<button onclick="getObservations()">Get observations</button>
	</div>
	<br>
	<br>
	<div id='observations_div'></div>
	<br>
	<br>
	<div id='hours_plot' style="width:100%;height:400px;"></div>
	<br>
	<br>
	<div id='obs_histogram' style="width:100%;height:400px;"></div>
{% endblock %}
