{% extends "layout.html" %}
{% block body %}
<div id='top_div' class="top_div_class">
	<div id='date_controls'>
		<span>Range start:</span>
		{% if starttime %}
		<input type='text' id='datepicker_start' value='{{starttime}}'
		{% else %}
		<input type='text' id='datepicker_start'
		{% endif %}
		autocomplete='off'/>
		<span>Range end:</span>
		{% if endtime %}
		<input type='text' id='datepicker_end' value='{{endtime}}'
		{% else %}
		<input type='text' id='datepicker_end'
		{% endif %}
		autocomplete='off'/>
		<button onclick="getObservations()">Get observations</button>
	</div>
</div>
<div id="main_content_div">
	<div id="main_content_row">
		<div id="left_content">
			<br>
			<div id='observations_summary'></div>
			<br>
			<br>
			<div id='data_amount_table'></div>
		</div>
		<div class='comments_class' id='comments_div'></div>
	</div>

</div>
{% endblock %}
