{% extends "layout.html" %}
{% block body %}
<div id='top_div' class="top_div_class">
	<div id='date_controls'>
		<span>Range start:</span>
		{% if starttime %}
		<input type='text' id='datepicker_start' value='{{starttime}}'
		{% else %}
		<input type='text' id='datepicker_start'
		{% endif %}
		autocomplete='off'/>
		<span>Range end:</span>
		{% if endtime %}
		<input type='text' id='datepicker_end' value='{{endtime}}'
		{% else %}
		<input type='text' id='datepicker_end'
		{% endif %}
		autocomplete='off'/>
		<button onclick="getObservations()">Get observations</button>
	</div>
</div>
<br>
<br>
<table style="width:100%" class="tableClass">
	<div id="main_content_div">
		<tr class="rowClass">
			<div id="left_content_div">
				<td class="cellClass">
					<br>
					<div id='observations_summary'></div>
					<br>
					<br>
					<div id='data_amount_table'></div>
				</td>
			</div>

			<div id="right_content_div">
				<td valign="top" class="right_cell">
					<h3>Data Sets</h3>
					<hr>
					<div id="filter_dropdown_div" style="vertical-align:top;">
						Filter sets:
						<select id="filter_dropdown" onchange="filterDropdownChanged(this)">
						    <option value="all" selected>All</option>
						    <option value="none">None</option>
						    <option value="filter_within_cur">Contained within current range</option>
						</select>
						<br>
						<br>
					</div>
					<br>
					<div id='set_list_div'></div>
				</td>
			</div>
		</tr>
	</div>
</table>

<script>
    var filterDropdownChanged = function(select) {
        currentData = select.value;
        var start = $("#datepicker_start").val();
		var end = $("#datepicker_end").val();
		re = /^\d{4}\/\d{2}\/\d{2} \d{2}:\d{2}$/;

		var startDate, endDate;

		startDate = getDate(start);
		endDate = getDate(end);
		
		// Make each date into a string of the format "YYYY-mm-ddTHH:MM:SSZ", which is the format used in the local database.
		var startUTC = startDate.toISOString().slice(0, 19) + "Z";
		var endUTC = endDate.toISOString().slice(0, 19) + "Z";

        renderSets(currentData, startUTC, endUTC);
    };
</script>
{% endblock %}
