<!DOCTYPE html>
<html>
<head>
    <title>EoRLiveP</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="../static/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
</head>
<body>
    <div class='page'>
        <div class='metanav'>
            <span class='nav_left'>
                EoRLiveP
            </span>
            <span class='nav_right'>
                <a href="{{ url_for('index') }}">home</a> |
                {% if not g.user.is_authenticated() %}
                <a href="{{ url_for('login') }}">log in</a>
                {% else %}
                <span>logged in as {{ g.user.username }} | </span>
                <span><a href="{{ url_for('profile') }}">profile</a> | </span>
                <a href="{{ url_for('logout') }}">log out</a>
                {% endif %}
            </span>
        </div>
        {% for message in get_flashed_messages() %}
            <div class='flash'>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
</body>
</html>
