{% block content %}
<div id="qs_graph"></div>
<script>
    $("#qs_graph").highcharts('StockChart', {
        title: {
            text: "QS Data"
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'datetime'
        },
        legend: {
            enabled: true
        },
        series: [{
            name: 'window_x',
            data: {{ data.window_x | tojson }}
        }, {
            name: 'window_y',
            data: {{ data.window_y | tojson }}
        }, {
            name: 'wedge_res_x',
            data: {{ data.wedge_res_x | tojson }}
        }, {
            name: 'wedge_res_y',
            data: {{ data.wedge_res_y | tojson }}
        }, {
            name: 'gal_wedge_x',
            data: {{ data.gal_wedge_x | tojson }}
        }, {
            name: 'gal_wedge_y',
            data: {{ data.gal_wedge_y | tojson }}
        }, {
            name: 'ptsrc_wedge_x',
            data: {{ data.ptsrc_wedge_x | tojson }}
        }, {
            name: 'ptsrc_wedge_y',
            data: {{ data.ptsrc_wedge_y | tojson }}
        }]
    });
</script>
{% endblock %}
