{% block content %}
    {% if sets %}
        <table class="table-striped table-bordered">
            {% for set in sets %}
                {% if set %}
                    <tr>
                        <td>
                            <a href="set/{{ set.name }}" style="float:left;">{{ set.name }}   --   {{ set.username }}</a>
                            <div style="float:left;margin-left:10px;">
                                <ul>
                                    <li>
                                    {% if set.low_or_high == 'any' %}
                                        low/high
                                    {% else %}
                                        {{ set.low_or_high }}
                                    {% endif %}
                                    </li>
                                    <li>
                                    {% if set.eor == 'any' %}
                                        EOR0/EOR1
                                    {% else %}
                                        {{ set.eor }}
                                    {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        {% if logged_out %}
            <p> Log in to view sets </p>
        {% else %}
            <p>No Sets</p>
        {% endif %}
    {% endif %}
{% endblock %}
