<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

{% block content %}
    {% if sets %}
        {% for set in sets %}
            {% if set %}
                <div id="set_name_div" class="row">
                    {{ set.name }}
                </div>
                <br>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if logged_out %}
            <p> Log in to view sets </p>
        {% else %}
            <p>No Sets</p>
        {% endif %}
    {% endif %}
{% endblock %}
