{% block content %}
    {% if sets %}
        <table class="table-striped table-bordered">
            {% for set in sets %}
                {% if set %}
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <a href="/set/{{ set.name }}">{{ set.name }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ set.username }}
                                    </td>
                                    <td>
                                        {{ set.total_data_hrs | round(1) }} hrs
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if set.low_or_high == 'any' %}
                                            low/high
                                        {% else %}
                                            {{ set.low_or_high }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if set.eor == 'any' %}
                                            EOR0/EOR1
                                        {% else %}
                                            {{ set.eor }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        {% if logged_out %}
            <p> Log in to view sets.</p>
        {% else %}
            <p> No sets currently saved.</p>
        {% endif %}
    {% endif %}
{% endblock %}
